@model IEnumerable<PharmaCite_Pharmacy_Managment_System.Models.Pharmacist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PharmacistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiredByNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PharmacistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiredByNavigation.ManagerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PharmacistId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PharmacistId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PharmacistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
