@model PharmaCite_Pharmacy_Managment_System.Models.MedicinesSold

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicinesSold</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldByNavigation.PharmacistName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldMedicineNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldMedicineNavigation.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldToNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldToNavigation.Pwd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SoldId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
