@model PharmaCite_Pharmacy_Managment_System.Models.UserCompliants

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserCompliants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompaintText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompaintText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintByNavigation.Pwd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintOnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintOnNavigation.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ComplaintId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
