@model IEnumerable<PharmaCite_Pharmacy_Managment_System.Models.UserCompliants>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompaintText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintByNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintOnNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompaintText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintByNavigation.Pwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintOnNavigation.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComplaintId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComplaintId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComplaintId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
